%ol.breadcrumb
  %li 应用中心
  %li= link_to "应用管理", url_for("/")
  %li= @record.name

= haml :_form

:javascript
  window.AppObject = {
    onsubmit: function() {
      try {
        var objects = {app: { id: "#{@record.id}", name: $("#app_name").val() }}
        window.OperationLogger.record("app.edit", objects);
      } catch(e) { console.log(e) }

      $("#recordForm").submit();
    }
  }