%ol.breadcrumb
  %li 设备中心
  %li
    %a{href: "#{url_for('/')}?page=#{params[:page] || 1}"} 主机管理
  %li
    新建主机

= haml :_form

:javascript
  window.Device = {
    onsubmit: function() {
      try {
        var objects = {device: { id: "-1", name: $("#device_human_name").val() }}
        window.OperationLogger.record("device.new", objects);
      } catch(e) { console.log(e) }

      $("#recordForm").submit();
    }
  }