
.bs-docs-masthead {
  text-align: center;
}
.bs-docs-masthead .bs-docs-booticon {
  margin: 0px auto 20px auto;
  opacity: 0;
}
.bs-docs-booticon-outline {
  background-color: transparent;
  border: 1px solid #cdbfe3;
}
.bs-docs-booticon-lg {
  width: 124px;
  height: 124px;
  font-size: 88px;
  line-height: 120px;
}
.bs-docs-header, .bs-docs-masthead {
  position: relative;
  padding: 0px 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  /* background-color: #6f5499; */
  /* background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499)); */
  /* background-image: -webkit-linear-gradient(top,#333 0,#333 100%); */
  /* background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%); */
  /* background-image: linear-gradient(to bottom,#fff 0,#fff 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}
.bs-docs-booticon {
  display: block;
  font-weight: 500;
  color: #333;
  text-align: center;
  cursor: default;
  border-radius: 15%;
}
.bs-docs-masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #333;
}
.bs-docs-masthead .version {
  color:darkgray;
  margin-top:-40px;
  font-size:12px;
}

#loginForm {
  max-width: 300px;
  margin: 0 auto;
}
input[type='submit'], .login-submit, .login-link {
  width: 100%;
}
@media (min-width: 768px)
.lead {
  font-size: 21px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
p {
 margin: 0 0 10px;
}
.input-group, .form-group {
  margin-bottom: 15px;
}