
:css
  .behavior-logs { margin-bottom: 2px;}
  .behavior-logs th:nth-child(1), .behavior-logs td:nth-child(1) { width: 100%; }

#appVue
  %ol.breadcrumb
    %li 日志中心
    %li 代理行为

  %table.table.table-hover.table-condensed.table-strip.table-bordered.smart-table.behavior-logs
    %tbody
      %tr{'v-for' => '(record, index) in behaviorLogs', ':key' => 'record.id'}
        %td
          %span{style: "color: darkgray;", 'v-text' => 'record.updated_at'}
          &nbsp;-&nbsp;
          %a{'v-text' => 'record.device_name', ':href' => '"/account/devices/" + record.device_uuid', 'target' => 'blank'}
          .glyphicon.glyphicon-cloud-upload
          %span{'v-text' => 'record.behavior'}

  %div{style: 'width: 100%;text-align: center;'}
    %a{'@click' => 'getMoreBehaviorLogs', 'v-if' => 'pageIndex >= 0'}
      %span.glyphicon.glyphicon-hourglass
      加载更多数据
    %span{'v-else' => '', style: 'color: gray;'}
      %span.glyphicon.glyphicon-home
      所有数据已加载

= javascript_include_tag 'account/home/agent_behavior_logs.js'