%ol.breadcrumb
  %li 设备中心
  %li= link_to "分组管理", url_for("/")
  %li 新建分组

= haml :_form

:javascript
  window.DeviceGroup = {
    onsubmit: function() {
      try {
        var objects = {device_group: { id: "-1", name: $("#device_group_name").val() }}
        window.OperationLogger.record("device_group.new", objects);
      } catch(e) { console.log(e) }

      $("#recordForm").submit();
    }
  }
