:css   
  .jobs th:nth-child(n+1), .jobs td:nth-child(n+1) { text-align: center; width: 5%; }
  .jobs th:nth-child(1), .jobs td:nth-child(1) { text-align: left; width: 15%; }
  .jobs th:nth-child(2), .jobs td:nth-child(2) { text-align: left; width: 45%; }
  .jobs th:nth-child(3), .jobs td:nth-child(3) { text-align: center; width: 10%; }
  .jobs th:nth-child(4), .jobs td:nth-child(4) { text-align: center; width: 5%; }
  .jobs th:nth-last-child(1), .jobs td:nth-last-child(1) { text-align: center; width:15%; }
#appVue
  .col-sm-12
    %ol.breadcrumb
      %li 部署中心
      %li 任务管理
      %li
        %a{href: "#{url_for('/new')}?page=#{params[:page] || 1}"}
          新建任务
          %span.glyphicon.glyphicon-plus

  .col-sm-12{':style' => '"height:" + screenHeight + "px;overflow:scroll;"'}
    %table.table.table-hover.table-condensed.table-strip.table-bordered.smart-table.jobs
      %thead
        %th 时间戳
        %th 任务标题
        %th 部署进度
        %th 设备数量
        %th 拷贝
        %th 删除
        %th 更新时间
      %tbody{'v-for' => '(record, index) in jobGroups'}
        %tr{':id' => "'dom_'+record.id"}
          %td{'v-text' => 'record.created_at.replace(/:|\/|\s/g, "")'}
          %td.name
            %a{'v-text' => 'record.title', '@click' => "showIframeModal(record.title, '/account/jobs/group/'+record.uuid)"}
          %td
            %span.label{'v-text' => 'record.state', ':class' => "{'label-primary': record.state == 'waiting', 'label-default': record.state != 'waiting'}"}
          %td{'v-text' => 'record.device_count'}
          %td
            %a.btn.btn-success.btn-xs{':href' => '"/account/jobs/new?copy_from=" + record.uuid'}
              %span.glyphicon.glyphicon-copy
          %td
            %a.btn.btn-danger.btn-xs{'@click' => 'deleteClick(record)'}
              %span.glyphicon.glyphicon-trash
          %td{'v-text' => 'record.updated_at'}

  .modal.fade#iframeModal
    .modal-dialog{style: 'width:80%;max-width:1170px;height:80%;min-height:600px;'}
      .modal-content{style: 'height:100%;'}
        .modal-header
          %button.close{'type' => 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
            %span{'aria-hidden' => 'true'} &times;
          %h4.modal-title{'v-text' => 'iframeTitle'}
        .modal-body{style: 'width:100%;height:90%;overflow:hidden'}
          %iframe.hidden{ref:"iframe", style: 'border:none;width:100%;height:100%;overflow:scroll', ':src' => 'iframeSrc'}
          .loader{style: 'margin: 0 auto;'}

= javascript_include_tag 'account/jobs/index.js'
