%ol.breadcrumb
  %li 部署中心
  %li
    %a{href: "#{url_for('/')}?page=#{params[:page] || 1}"} 任务管理
  %li
    新建任务

= haml :_form


:javascript
  window.JobObject = {
    onsubmit: function() {
      try {
        var objects = {
          job: { id: "-1", name: $("#job_group_title").val() }, 
          device: { id: $("#job_group_device_list").val(), name: $("#job_group_device_name").val() }
        }
        window.OperationLogger.record("job.new", objects);
      } catch(e) { console.log(e) }

      $("#recordForm").submit();
    }
  }