:css
  .app td:nth-child(1) { vertical-align: middle; text-align: center;}
  .app th:nth-child(1), .app td:nth-child(1) { min-width: 100px; width: 10%; }
  .app th:nth-child(2), .app td:nth-child(2) { max-width: 800px; width: 90%; }
  .app pre.full { max-width: 600px; height: 600px; }
  .app pre.small { max-width: 600px; height: 100px; }
  .list-group-item:hover {cursor: pointer;}

.row#appVue
  %ol.breadcrumb
    %li 部署中心
    %li= link_to '任务管理', 'javascript:void(0);', onclick: 'window.history.go(-1)'
    %li{'v-text' => 'job.title'}

  .col-sm-3{'v-if' => 'jobList.length > 1'}
    %button.list-group-item.disabled{type: 'button', 'v-text' => '"设备列表：(" + jobList.length + " 台)"'}
    %ul.list-group{style: 'max-height:500px;overflow:scroll;'}
      %li.list-group-item{'v-for' => '(item, index) in jobList', ':class' => '{active: item.uuid === job.uuid}', ':key' => 'item.id', '@click' => 'switchJob(item, index)'}
        %span.badge{'v-text' => 'item.state'}
        {{ item.device_name }}

  %div{':class' => '{"col-sm-9": jobList.length > 1, "col-sm-12": jobList.length <= 1}'}
    %table.table.table-hover.table-condensed.table-strip.table-bordered.app
      %tbody
        %tr
          %td 任务 UUID
          %td{'v-text' => 'job.uuid'}
        %tr
          %td 任务名称
          %td.name{'v-text' => 'job.title'}
        %tr
          %td 任务状态
          %td
            %span.label.label-info{'v-text' => 'job.state'}
        %tr
          %td 主机名称
          %td{'v-text' => 'job.device_name'}
        %tr
          %td 应用名称
          %td{'v-text' => 'job.app_name'}
        %tr
          %td 应用版本
          %td{'v-text' => 'job.version_name'}
        %tr
          %td 
            部署脚本
            %br
            %a{'@click' => 'resizeCommandArea'}
              %span.glyphicon{':class' => '{"glyphicon-resize-full": !isOutputFull, "glyphicon-resize-small": isOutputFull}'}
          %td
            %pre#command.small{'v-text' => 'job.command', readonly: 'true'}
        %tr
          %td 
            脚本输出
            %br
            %a{'@click' => 'resizeOutputArea'}
              %span.glyphicon{':class' => '{"glyphicon-resize-full": !isOutputFull, "glyphicon-resize-small": isOutputFull}'}
            %a{'@click' => 'getJobList'}
              %span.glyphicon.glyphicon-refresh
          %td
            %pre#output.small{'v-text' => 'job.output || "无日志输出"', readonly: 'true'}
        %tr
          %td 创建时间
          %td{'v-text' => 'job.created_at'}
        %tr
          %td 更新时间
          %td{'v-text' => 'job.updated_at'}
        %tr
          %td 删除任务
          %td
            %a.btn.btn-xs.btn-link{style: "color: red;", '@click' => "removeJob(job)"}
              .span.glyphicon.glyphicon-trash

= erb :'show.js'